table,
tr {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
}
table {
  border: 2px solid rgb(0, 0, 0);
  width: 65vw;
  color: white;
  letter-spacing: 1.5px;
  font-size: 30px;
  z-index: 199;
}

tr:nth-child(odd) {
  background-color: red;
}
tr:nth-child(even) {
  background-color: blue;
}
tr:nth-child(1) th {
  background-color: rgb(83, 135, 247);
  border-right: 2px solid white;
}
tr:nth-child(3) {
  background-color: white;
  color: black;
}
tr:nth-child(2) {
  background-color: yellow;
  color: black;
  border: 2px solid rgb(0, 0, 0);
}
